.Assistance{
    display:flex;
    background-image:linear-gradient(to right bottom, rgb(147, 139, 220) ,rgb(52, 27, 108),rgb(45, 6, 129),rgb(19, 5, 48));
    /* background-image: radial-gradient(rgb(147, 139, 220),rgb(52, 27, 108),rgb(45, 6, 129),rgb(19, 5, 48)) ; */
    /* background-i; */
    color: white;
}
.Assistance-left{
    flex:1;
    display:grid;
    grid-template-columns: 10vw auto;
    grid-template-rows: 5vw auto 20vw;
}
.Assistance-left div{
    grid-area: 2/2/3/3;
    font-size: 4vw;
}
.Assistance-right{
    flex:1;
    display:grid;
    grid-template-columns: 12vw 8vw 2vw 19vw 10vw;
    grid-template-rows:5vw 5vw 3vw 5vw 3vw 10vw 2vw 3vw auto;
}
.Assistance-right div:nth-child(1){
    grid-area: 2/1/3/3;
    display:block;

}
.Assistance-right div:nth-child(2){
    grid-area: 2/4/3/5;
    display:block;
    
}
.Assistance-right div:nth-child(3){
    grid-area:4/1/5/5;
    display:block;
}
.Assistance-right div:nth-child(4){
    grid-area: 6/1/7/5;
    display:block;
    
}
.Assistance-right div input{
    width:100%;
    opacity: 0.5;
    border-color: white;
    /* height: 100%; */
}
.Assistance-right div:nth-child(4) textarea{
    /* height: 100%; */
    width:100%;
    opacity: 0.5;
    
}
.Assistance-right div:nth-child(5){
    grid-area: 8/1/9/2;
    display:flex;
    border: solid 0.1vw white;
    border-radius: 1vw;
}
.Assistance-right div:nth-child(5):hover{
    
    cursor: pointer;
    color:rgb(45, 6, 129) ;
    /* opacity: 0; */
    background-color: white;

}
.Assistance-right div:nth-child(5) div{
    margin: auto;
}
