.Home{
    display:flex;
    height:100vh;
    background-image: radial-gradient(rgb(167, 186, 210) ,rgb(11, 83, 143) 80%);
    width:100%
}
.home-content{
    flex:1;
    margin:auto;
}
.home-content1{
    font-size: 5vw;
    margin: auto;
    text-align: center;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}
.home-content2{
    text-align: center;
    font-size: 3vw;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 0px 10px 0px;

}
.home-content3{
    display:none;
}
.home-image{
    flex:1;
    position:relative;
}

.download-app{
    display:grid;
    grid-template-columns:10vw 5vw 10vw;
    grid-template-rows: 3vw;
    justify-content:center;
    

}
.Image{
    width:100%;
    height:100%;
    border: solid 1px white;
    border-radius: 5px;

}



@media screen and (max-width:800px){
    .Home{
        display:block;
        min-height:200vw;
        background-image:linear-gradient(to bottom,rgb(11, 83, 143),rgb(3, 55, 97),rgb(11, 83, 143))
    }
    .home-content{
        display:block;
        float:left;
    }
    .home-content1{
        color: aliceblue;
        text-align: left;
        font-size: 12vw;
        padding-left: 5vw;
        padding-top: 5vw;
   
    }
    
    .home-content2{
        display:none;
    } 
    .home-content3{
        display: inline;
        font-size: 6vw;
        text-align: left;
        padding:10vw 0vw 0vw 5vw;
        color: aliceblue;
    }
    .download-app{
        display:grid;
        grid-template-columns:33.3vw 33.3vw 33.3vw;
        grid-template-rows: 10vw 5vw 10vw;
        padding-top: 10vw;
    }
    .download-app div{
        
        height:100%;
        width:100%;
    }
    .download-app div:nth-child(1){
        grid-area: 1/2/2/3;
    }
    .download-app div:nth-child(3){
        grid-area: 3/2/4/3;
    }

    .home-image{
        height:100%;
    }

}