.intro{
    background-image:url("/public/stockImg2.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;

    /* transition-property: transform;
    transition-delay: 0.5ms; */
    /* transform: 0.5s; */
    /* background-color: black; */
}
.intro-head{
    text-align: center;
    height:20vw;
    display:flex;
    /* background-color: black; */
    /* opacity: 0.1; */
}
.intro-head1{
    color:aliceblue;
    margin:auto;
    font-size:2vw;
}
.intro-content{
    text-align:center;
    /* height:15vw; */
    display:flex;
    padding:0px 0px 20px 0px;
}
.intro-content1{
    margin: auto;
    font-size: 2vw;
    color:aliceblue;
}
.startNow{
    display:flex;
    height:10vw;
    background-color: black;
    opacity: 0.5;
    /* z-index: 1; */
}
.startNow div{
    margin: auto;
    color:white;
    padding:10px 20px 10px 20px;
    border:solid 2px rgb(255, 255, 255);
    border-radius: 5px;
    /* z-index: 2; */
}